{
  "openapi": "3.0.0",
  "info": {
    "title": "Lore Engine Public API",
    "version": "1.0.0",
    "description": "Multi-Agent Lore Conflict Detection System with Interactive Looping",
    "contact": {
      "name": "Lore Engine Support",
      "url": "https://docs.lore-engine.com",
      "email": "api-support@lore-engine.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.lore-engine.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.lore-engine.com",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/lore/stats/public": {
      "get": {
        "summary": "Get system statistics",
        "description": "Returns comprehensive system metrics including event processing, conflict resolution, and performance data.",
        "tags": ["Statistics"],
        "responses": {
          "200": {
            "description": "System statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStats"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/lore/metrics/public": {
      "get": {
        "summary": "Get live metrics",
        "description": "Returns real-time performance indicators and system health metrics.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "Live metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveMetrics"
                }
              }
            }
          }
        }
      }
    },
    "/lore/fragments/public": {
      "get": {
        "summary": "Get lore fragments",
        "description": "Returns paginated lore fragments with optional filtering.",
        "tags": ["Lore"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of fragments to return (max 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "min_cursed_level",
            "in": "query",
            "description": "Minimum cursed level filter",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lore fragments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoreFragments"
                }
              }
            }
          }
        }
      }
    },
    "/lore/chains/public": {
      "get": {
        "summary": "Get evolution chains",
        "description": "Returns evolution chains showing content lineage and mutation history.",
        "tags": ["Evolution"],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to look back (max 7)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evolution chains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvolutionChains"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "SystemStats": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "system_status": {
            "type": "string",
            "enum": ["operational", "degraded", "maintenance"]
          },
          "events_processed": {
            "type": "integer"
          },
          "conflicts_resolved": {
            "type": "integer"
          },
          "sentiment_score": {
            "type": "number",
            "minimum": -1,
            "maximum": 1
          },
          "performance": {
            "type": "object",
            "properties": {
              "avg_response_time": {
                "type": "number"
              },
              "success_rate": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "active_loops": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LiveMetrics": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "processing_latency": {
            "type": "number"
          },
          "error_rate": {
            "type": "number"
          },
          "resource_utilization": {
            "type": "object",
            "properties": {
              "cpu": {
                "type": "number"
              },
              "memory": {
                "type": "number"
              },
              "disk": {
                "type": "number"
              }
            }
          }
        }
      },
      "LoreFragments": {
        "type": "object",
        "properties": {
          "fragments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "cursed_level": {
                  "type": "integer"
                },
                "sentiment": {
                  "type": "string",
                  "enum": ["positive", "negative", "neutral"]
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "EvolutionChains": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "mutations": {
                  "type": "integer"
                },
                "quality_score": {
                  "type": "number"
                },
                "virality_score": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    }
  }
}
